<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693782666251-hvaiu1rpbhgmocab8vrq0lhude5hvnun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693782666251-hvaiu1rpbhgmocab8vrq0lhude5hvnun</string>
	<key>API_KEY</key>
	<string>AIzaSyAii0Nm-q3WweZXppwOgjOdI7Hb1P2rbg0</string>
	<key>GCM_SENDER_ID</key>
	<string>693782666251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koraykoska.TelegramWidgets</string>
	<key>PROJECT_ID</key>
	<string>telegramwidgets-app</string>
	<key>STORAGE_BUCKET</key>
	<string>telegramwidgets-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693782666251:ios:f2941dc3c84c4e4a353b0e</string>
	<key>DATABASE_URL</key>
	<string>https://telegramwidgets-app.firebaseio.com</string>
</dict>
</plist>