<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConversationsWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TelegramWidgets.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E7A46A323511D3100224275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E7A46B923511D3200224275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E7A46C423511D3200224275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EDBE85A23521AF800F24A14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
